@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.grandContainer {
    width: 100vw;
    height: 100vh;
}
.contentContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.imageAndText {
    position: relative;
    width: 50%;
}

.imageContainer {
    min-height: 100%;
    position: relative;
}
.image {
    object-fit: cover;
    aspect-ratio: 9/16;
}

.overlay {
    position: absolute; /* attatches to nearest nearest relative container*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.tableContainer {
    width: 90%;
    margin-left: 1em;
}

.titleDiv {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 2px;
}

.title {
    color: white;
    font-size: 4.5em;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0%;
}
